<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Create a New Message</h1>
    <form method="POST" action="/new">
      <div>
        <label for="user">Name:</label>
        <input name="user" type="text" placeholder="John Doe" required />
      </div>
      <br />
      <div>
        <label for="text">Text:</label>
        <input name="text" type="text" placeholder="Hello World!" required />
      </div>
      <br />
      <button type="submit">Submit</button>
    </form>
    <br />
    <a href="/">Back to Message Board</a>
  </body>
</html>
